<ngb-accordion activeIds="display-favorite-lists" class="add-to-list-accordion">
  <ngb-panel id="add-new-list" title="Create new zone">
    <ng-template ngbPanelContent>
      test add
    </ng-template>
  </ngb-panel>
  <ngb-panel id="display-favorite-lists" title="Second">
    <ng-template ngbPanelContent>

      <ul class="list-group">
        <favorite-list-aside *ngFor="let list of favoriteLists " [list]="list"></favorite-list-aside>
      </ul>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
