<li class="list-group-item d-flex justify-content-between align-items-center">
  <div>
    <button class="badge badge-primary badge-pill">{{list.images.length}}</button>
    {{list.name}}
  </div>
  <div>
    <button *ngIf="currentImageInList" type="button" (click)="removeImageFromList(list.id)" class="btn btn-danger btn-sm">Remove
      list</button>
    <button *ngIf="!currentImageInList" type="button" (click)="addImageToList(list.id)" class="btn btn-primary btn-sm">Add
      to list</button>
  </div>
</li>
